<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      
      <div class="form-group mb-4 mt-5">
        <label for="placa">Placa</label>
        <input
          type="text"
          class="form-control"
          id="placa"
          required
          [(ngModel)]="veiculo.placa"
          name="placa"
        />
      </div>

      <div class="form-group mb-2">
        <label for="chassi">Chassi</label>
        <input
          type="number"
          class="form-control"
          id="chassi"
          required
          [(ngModel)]="veiculo.chassi"
          name="chassi"
        />
      </div>

      <div class="form-group mb-2">
        <label for="renavam">Renavam</label>
        <input
          type="number"
          class="form-control"
          id="renavam"
          required
          [(ngModel)]="veiculo.renavam"
          name="renavam"
        />
      </div>

      <div class="form-group mb-2">
        <label for="marca">Marca</label>
        <input
          class="form-control"
          id="marca"
          required
          [(ngModel)]="veiculo.marca"
          name="marca"
        />
      </div>
      
      <div class="form-group mb-2">
        <label for="modelo">Modelo</label>
        <input
          class="form-control"
          id="modelo"
          required
          [(ngModel)]="veiculo.modelo"
          name="modelo"
        />
      </div>


      <div class="form-group">
        <label for="ano">Ano</label>
        <input
          class="form-control"
          id="ano"
          required
          [(ngModel)]="veiculo.ano"
          name="ano"
        />
      </div>

      <button (click)="saveVeiculo()" class="btn btn-success">salvar</button>

    </div>

    <div *ngIf="submitted" style="padding-top: 80px;">

      <div style="display: flex;">
        <a class="circle-link" title="Novo Veículo" href="/add" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#76ff03" width="26" height="26"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        </a>
        <a class="circle-link" title="Meus Veículos" href="/veiculos" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="#2196f3" width="26" height="26"><path d="M0 0h24v24H0z" fill="none"/><path d="M18.92 5.01C18.72 4.42 18.16 4 17.5 4h-11c-.66 0-1.21.42-1.42 1.01L3 11v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 15c-.83 0-1.5-.67-1.5-1.5S5.67 12 6.5 12s1.5.67 1.5 1.5S7.33 15 6.5 15zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 10l1.5-4.5h11L19 10H5z"/></svg>
        </a>
        
      </div>

      <div class="alert alert-success alert-dismissible mt-5 mb-5 fade show" role="alert">
        Veículo salvo com <strong>sucesso!</strong>
      </div>
    </div>

  </div>
</div>

